#home .ui-icon {
    width: 100px!important; 
	background: url("../img/logo_header100x60.png");
}

#input .ui-icon {
    width: 60px!important; 
    background-image: url("../img/input_icon_header60.png");
}

#navigation .ui-icon {
    width: 60px!important; 
    background-image: url("../img/down_arrow_header60.png");
}

#header {
	height: 70px;
}

.nav-glyphish-example .ui-btn .ui-btn-inner {
    padding-top: 60px !important; 
}

.nav-glyphish-example .ui-btn .ui-icon { 
    height: 60px!important; 
    margin-left: -24px !important; 
    box-shadow: none!important; 
    -moz-box-shadow: none!important; 
    -webkit-box-shadow: none!important;
    -webkit-border-radius: none !important;
    border-radius: none !important; 
}

.veryClean {
	color: #10660D;
	font-weight: bold;
}

.cleanliness {
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
}

.ui-btn-up-feedback, .ui-btn-hover-feedback, .ui-btn-down-feedback { 
	background-color: #427B9E !important;
	color: white;
	text-decoration: none;
 }