<div id="feedback" class="ui-content" data-role="content" data-add-back-btn="true">
	<h1>Thank you for your measurement!</h1>
	
	<div class="center-wrapper">
		<img id="cleanImg" style="display:none;" src="../../static/img/dial_Clean.png" height="150"/>
		<img id="veryCleanImg" style="display:none;" src="../../static/img/dial_veryClean.png" height="150"/>
		<img id="dirtyImg" style="display:none;" src="../../static/img/dial_polluted.png" height="150"/>
		<img id="veryDirtyImg" style="display:none;" src="../../static/img/dial_veryPolluted.png" height="150"/>
	</div>
	<div id="cleanlinessMessage" class="cleanliness">
		Your photo indicates that the lake is
		<span id="cleanlinessText" class="veryClean"><%=@cleanliness %></span>
	</div>
</div>

<!-- <div id="feedbackButtons" data-role="controlgroup" data-type="horizontal" class="ui-grid-a">
	<a href="#" data-role="button" class="goToLake">Juojarvi</a>
	<a href="#" data-role="button" class="testAgain">Test again</a>
</div>-->


<div class="ui-grid-a" id="feedbackButtons">
	<div class="ui-block-a"><a href="#" data-role="button" class="testAgain" data-theme="feedback">Test again</a></div>     
	<div class="ui-block-b"><a href="#" data-role="button" class="goToLake" data-theme="feedback">Juojarvi</a></div>
</div>
