<img id="cleanliness" src="../../static/img/dial_veryClean.png"></div>
<div id="cleanlinessMessage" class="cleanliness">
	Your photo indicates that the lake is
	<span class="veryClean">very clean</span>
</div>

<!-- <div id="feedbackButtons" data-role="controlgroup" data-type="horizontal" class="ui-grid-a">
	<a href="#" data-role="button" class="goToLake">Juojarvi</a>
	<a href="#" data-role="button" class="testAgain">Test again</a>
</div>-->


<div class="ui-grid-a" id="feedbackButtons">
	<div class="ui-block-a"><a href="#" data-role="button" class="goToLake" data-theme="feedback">Juojarvi</a></div>
	<div class="ui-block-b"><a href="#" data-role="button" class="testAgain" data-theme="feedback">Test again</a></div>     
</div>
