<div class="content" data-role="content">
	<h3>PINNED</h3>
		<ul data-role="listview">
			<% _.each(actions, function(acs) { %> 
				<li class="lakeId"><%= acs.label %></li>
			<% }); %>
		</ul>
	<h3>NEARBY</h3>
		<ul data-role="listview">
			<li class="lakeId">PAHAJOKI</li>
			<li class="lakeId">HYVÄVESI</li>
		</ul>
	<h3>SEARCH</h3>
	<h3>NEWS</h3>
		<ul data-role="listview">
			<li>aaa</li>
			<li>bbb</li>
		</ul>
</div>

<div id="view-goes-here"></div>
<script type="text/template" id="actions-template">
<% _.each(actions, function(acs) { %> 
    <a class="btn"><%= acs.label %></a>
<% }); %>
</script>