<div class="content" data-role="content">
	<h3>Test water of...</h3>
	<table>
		<tr>
			<td id="cameraButton"><img src="../../static/img/input_camera200.png"/></td>
			<td id="phButton"><img src="../../static/img/input_ph200.png"/></td>
		</tr>
		<tr>
			<td id="oxygenButton"><img src="../../static/img/input_oxygen200.png"/></td>
			<td><img src="../../static/img/input_camera200.png"/></td>
		</tr>
		<tr>
			<td><img src="../../static/img/input_camera200.png"/></td>
			<td><img src="../../static/img/input_comingSoon200.png"/></td>
		</tr>
	</table>
</div>