<div class="content ui-content" data-role="content">
	<h3>Test water of Juojärvi</h3>
	
	
	
	<div class="ui-grid-a inputOptions" data-theme="e">
		<div class="ui-block-a" id="photo" >
			<a id="cameraButton" data-role="button" href="#" data-icon="custom" data-iconpos="top">
				<h4>Photo</h4>
				<p>uses your phone's camera</p>
			</a>
		</div>
		<div class="ui-block-b" id="ph" >
			<a id="phButton" data-role="button" href="#" data-icon="custom" data-iconpos="top">
				<h4>pH</h4>
				<p>*requires pH strips</p>
			</a>
		</div>
		<div class="ui-block-a">
			<a id="oxygenButton" data-role="button" href="#" data-icon="custom" data-iconpos="top">
				<h4>Oxygen</h4> 
				<p>*requires oxygen sensor<p/>
			</a>
		</div>
		<div class="ui-block-b comingSoon">
			<a data-role="button" href="#" data-icon="custom" data-iconpos="top">
				<p>Coming soon...</p>
			</a>
		</div>
		<div class="ui-block-a comingSoon">
			<a data-role="button" href="#" data-icon="custom" data-iconpos="top">
				<p>Coming soon...</p>
			</a>
		</div>
		<div class="ui-block-b comingSoon">
			<a data-role="button" href="#" data-icon="custom" data-iconpos="top">
				<p>Coming soon...</p>
			</a>
		</div>
	</div>
	
	
	
	
	
</div>