<div class="content ui-content" data-role="content" data-add-back-btn="true">
	<h1 class="clean">Juojärvi, Savonia</h1>
	<div class="center-wrapper" >
		<img src="../../static/img/dial_clean.png" height="150"/>
	</div>
	<div id="trendsContainer" data-role="collapsible" data-collapsed="false">
		<h3>TREND</h3>
		<p>Pollution has decreased recently</p>
	</div>

	<div id="officialNewsContainer" data-role="collapsible" data-collapsed="false">
		<h3>OFFICIAL NEWS</h3>
		<p>Steps are currently being taken to clean this lake</br>
		</p>
	</div>

</div>
