<div class="content" data-role="content" data-add-back-btn="true">
  <h3>OXYGEN</h3>  
  <p>1. Turn on the oxygen sensor and submerge the wand in the water
Measuring...</p>
  <img src="../../static/img/ajax-loader.gif"/>
  </br>
  <a href="#popupBasic" data-rel="popup">READY</a>

 <div data-role="popup" id="popupBasic">
    <p>Your oxygen measurement was 5.0 mg/l, therefore the water is </br>
       POLLUTED! </p>
    <a href="#" data-role="button" data-rel="back" data-transition="pop" data-direction="reverse">
      <span class="ui-btn-inner ui-btn-corner-all" aria-hidden="true">
        <span class="ui-btn-text">Test Again</span>
      </span>
    </a>
 </div>

</div>
