<div class="content" data-role="content" data-add-back-btn="true">
    	<h3>MY PROFILE</h3>
      <img src="../../static/img/mika.png" height="150"/>
			    <h4>NAME</h4>
            <p>Mika Helenius</p>
          <h4>LOCATION</h4>
             <p>Espoo, Finland</p>

<div id="pinnedLakesContainer" data-role="collpasible" data-collapsed="true">
	<h3>MY PINNED LAKES</h3>
		<ul data-role="listview">
			<li class="lakeId">ILOJARVI</li>
			<li class="lakeId">PUHDASVESI</li>
		</ul>
</div>

<div id="officialNewsContainer" data-role="collapsible" data-collapsed="false">
	<h3>NEWS</h3>
  <p>Steps are currently being taken to clean this lake</br>
    Steps will be taken in May to improve the quality of this lake</br>
    Steps will be taken in August to improve the quality of this lake</br>
    Reforestation is underway to help improve the quality of this lake</br>
    Waste water quality from the nearby paper mill was improved in November</br>
    Nearby Talvivaara has leaked a large amount of contaminated waste water, making this lake hazardous</br></p>
</div>
