<div class="content" data-role="content" data-add-back-btn="true">
<div data-role="navbar">
	<ul>
		<li><a href="#" class="ui-btn-active ui-state-persist" data-transition="slide">Map</a></li>
		<li><a href="#" class="searchName" data-transition="slide">Name</a></li>
	</ul>
</div>

<div id="map_canvas" style="width:100%; height:400px">

	<script type="text/javascript">
	
	$('#map_canvas').gmap().bind('init', function(evt, map) {
		$('#map_canvas').gmap('getCurrentPosition', function(position, status) {	
			if ( status === 'OK' ) {	
				var clientPosition = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
			}	
		}); 
			  
	});
	
		
		
		
	</script>
	
</div>


</div>
	